version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "quarterly"
    cooldown:
      default-days: 14  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
    cooldown:
      default-days: 14  
